.image {
  border-radius: 50%;
  object-fit: cover;
  width: 4.375rem;
  height: 4.375rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 3rem;
}

.profile span {
  display: block;
}

.login {
  color: var(--clr-active);
  font-size: 0.813rem;
  margin: 0.2rem 0;
}

.join {
  font-size: 0.813rem;
  color: var(--clr-foreground-3);
}

.name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

@media only screen and (min-width: 490px) {
  .image {
    width: 7.313rem;
    height: 7.313rem;
  }

  .name {
    font-size: 1.625rem;
  }

  .login,
  .join {
    font-size: 0.938rem;
  }
}

@media only screen and (min-width: 768px) {
  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .profile {
    margin-bottom: 2.063rem;
  }

  .join {
    margin-top: 0.66rem;
  }

  .image {
    display: none;
  }
}
