.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container {
  width: 100%;
  max-width: var(--maxwidth);
}

.title {
  font-size: 1.625rem;
}

.card {
  background-color: var(--clr-background-2);
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--bs-1);
}

.image {
  display: none;
}

.bio {
  color: var(--clr-foreground-2);
  font-size: 0.813rem;
}

@media only screen and (min-width: 768px) {
  .card {
    padding: 3rem;
    display: flex;
    gap: 2.25rem;
  }

  .bio {
    font-size: 0.938;
  }

  .image {
    display: block;
    border-radius: 50%;
    height: 7.313rem;
    width: 7.313rem;
    object-fit: cover;
  }
}
