.search {
  width: 100%;
  background-color: var(--clr-background-2);
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  padding: 1rem;
  box-shadow: var(--bs-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--clr-background-2);
  color: var(--clr-foreground-1);
  caret-color: var(--clr-active);
}

.input::placeholder {
  color: var(--clr-foreground-1);
}

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.563rem;
}

@media only screen and (min-width: 490px) {
  .search {
    flex-direction: row;
    padding: 0.563rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .icon {
    margin-left: 2.438rem;
  }
}
