.search {
  width: 100%;
  background-color: var(--clr-background-2);
  padding: 0.625rem;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  box-shadow: var(--boxshadow);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.input {
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--clr-background-2);
}

.bar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.563rem;
}

.icon {
  margin-left: 22px;
}
