@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
  --clr-active: #0079ff;
  --clr-background-1: #f6f8ff;
  --clr-background-2: #fefefe;
  --clr-foreground-1: #2b3442;
  --clr-foreground-2: #4b6a9b;
  --clr-foreground-3: #697c9a;
  --border-radius: 0.938rem;
  --boxshadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --maxwidth: 45.625rem;
}

[data-theme='dark'] {
  --clr-background-1: #141d2f;
  --clr-background-2: #1e2a47;
  --clr-foreground-1: #ffffff;
  --boxshadow: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s background;
}

body {
  font-family: 'Space Mono', monospace;
}

main {
  min-height: 100vh;
  color: var(--clr-foreground-1);
  background-color: var(--clr-background-1);
  transition: 0.3s background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.313rem;
}

a {
  all: unset;
  cursor: pointer;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

svg {
  color: inherit;
}
/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
